#main-container {
    height: 100%;
    display: flex;

    /* para tudo tanho horizontal quanto vertical */
    justify-content: center;
    align-items: center;
}

#main-container form {
    width: 300px;
    display: flex;

    flex-direction: column;  /* diz basicamente que um item vai ficar abaixo do outro*/
}

#main-container form input {
    height: 48px; /* altura */
    border: 1px solid #DDD;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 30px;
}

#main-container form button {
    height: 48px; /* altura */
    background: #7159c1;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #FFF;
    font-weight: bold;
    border: 0;
    cursor: pointer; /* mãozinha de seleção */
}

#main-container form button:hover {
    opacity: 0.8;
}