* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* se adicionar um margin e padding ele garante que 
                             não vai aumentar o seu tamanho */
  outline: 0;
}

html,
body,
#root {
  height: 100%; /* garante que vou alinhar os elementos na tela no 
                   centro, de forma vertical */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased !important; /* dá um efeito na fonte */
}